<!DOCTYPE html>
<html>
  <head>
    <title> ABM </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/productos"><button>IR A PRODUCTOS</button></a>

  </body>
</html>
